<br />
<h3>Stream</h3>


<hr />
<div id='MessageHolder'></div>
<a href="#" id="testAnchor"></a>

<div class="row">
    <div class="col">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                HitBTC
            </div>
            <ul id="hitbtcTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>
    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Binance
            </div>
            <ul id="binanceTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Bibox
            </div>
            <ul id="biboxTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

</div>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<script>
    var _0xd08a=["\x77\x73\x73\x3A\x2F\x2F","\x68\x6F\x73\x74\x6E\x61\x6D\x65","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x3A","\x70\x6F\x72\x74","\x2F\x65\x78\x63\x68\x61\x6E\x67\x65\x57\x73","\x6F\x6E\x6F\x70\x65\x6E","\x77\x73\x20\x6F\x70\x65\x6E","\x73\x65\x6E\x64","\x6F\x6E\x6D\x65\x73\x73\x61\x67\x65","\x64\x61\x74\x61","\x70\x61\x72\x73\x65","\x73\x69\x64\x65","\x62\x75\x79","\x74\x65\x78\x74\x2D\x73\x75\x63\x63\x65\x73\x73","\x74\x65\x78\x74\x2D\x64\x61\x6E\x67\x65\x72","\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x72\x6F\x77\x22\x3E\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x63\x6F\x6C\x22\x3E","\x74\x6F\x4C\x6F\x63\x61\x6C\x65\x54\x69\x6D\x65\x53\x74\x72\x69\x6E\x67","\x74\x69\x6D\x65\x73\x74\x61\x6D\x70","\x3C\x2F\x64\x69\x76\x3E\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x63\x6F\x6C\x22\x3E","\x71\x75\x61\x6E\x74\x69\x74\x79","\x70\x72\x69\x63\x65","\x3C\x2F\x64\x69\x76\x3E\x3C\x2F\x64\x69\x76\x3E","\x68\x74\x6D\x6C","\x20\x6C\x69\x73\x74\x2D\x67\x72\x6F\x75\x70\x2D\x69\x74\x65\x6D","\x61\x64\x64\x43\x6C\x61\x73\x73","\x3C\x6C\x69\x3E\x3C\x2F\x6C\x69\x3E","\x65\x78\x63\x68\x61\x6E\x67\x65","\x68\x69\x74\x62\x74\x63","\x6C\x65\x6E\x67\x74\x68","\x63\x68\x69\x6C\x64\x72\x65\x6E","\x23\x68\x69\x74\x62\x74\x63\x54\x72\x61\x64\x65\x73","\x72\x65\x6D\x6F\x76\x65","\x6C\x61\x73\x74","\x70\x72\x65\x70\x65\x6E\x64","\x62\x69\x6E\x61\x6E\x63\x65","\x23\x62\x69\x6E\x61\x6E\x63\x65\x54\x72\x61\x64\x65\x73","\x62\x69\x62\x6F\x78","\x23\x62\x69\x62\x6F\x78\x54\x72\x61\x64\x65\x73","\x74\x6F\x4C\x6F\x63\x61\x6C\x65\x44\x61\x74\x65\x53\x74\x72\x69\x6E\x67","\x20","\x70\x75\x73\x68","\x6C\x61\x62\x65\x6C\x73","\x73\x70\x6C\x69\x63\x65","\x66\x6F\x72\x45\x61\x63\x68","\x64\x61\x74\x61\x73\x65\x74\x73","\x67\x65\x74\x4D\x69\x6E\x75\x74\x65\x73","\x67\x65\x74\x53\x65\x63\x6F\x6E\x64\x73","\x67\x65\x74\x4D\x69\x6C\x6C\x69\x73\x65\x63\x6F\x6E\x64\x73","\x75\x70\x64\x61\x74\x65","\x6D\x79\x4C\x69\x6E\x65","\x64\x61\x74\x61\x3A\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x76\x6E\x64\x2E\x6D\x73\x2D\x65\x78\x63\x65\x6C","\x43\x6F\x6C\x75\x6D\x6E\x20\x48\x65\x61\x64\x65\x72\x20\x54\x65\x78\x74","\x3C\x74\x61\x62\x6C\x65\x20\x69\x64\x3D\x22\x6D\x79\x4D\x6F\x64\x69\x66\x69\x65\x64\x54\x61\x62\x6C\x65\x22\x20\x63\x6C\x61\x73\x73\x3D\x22\x76\x69\x73\x69\x62\x69\x6C\x69\x74\x79\x48\x69\x64\x65\x22\x3E\x3C\x74\x68\x65\x61\x64\x3E\x3C\x74\x72\x3E","\x3C\x74\x64\x3E\x3C\x62\x3E","\x54\x49\x4D\x45\x53\x54\x41\x4D\x50","\x3C\x2F\x62\x3E\x3C\x2F\x74\x64\x3E","\x48\x49\x54\x42\x54\x43\x20\x4C\x41\x53\x54","\x48\x49\x54\x42\x54\x43\x20\x41\x4D\x4F\x55\x4E\x54","\x42\x49\x4E\x41\x4E\x43\x45\x20\x4C\x41\x53\x54","\x42\x49\x4E\x41\x4E\x43\x45\x20\x41\x4D\x4F\x55\x4E\x54","\x42\x49\x42\x4F\x58\x20\x4C\x41\x53\x54","\x42\x49\x42\x4F\x58\x20\x41\x4D\x4F\x55\x4E\x54","\x3C\x2F\x74\x72\x3E\x3C\x2F\x74\x68\x65\x61\x64\x3E\x3C\x74\x62\x6F\x64\x79\x3E","\x3C\x74\x72\x3E","\x3C\x74\x64\x3E","\x2E","\x2C","\x72\x65\x70\x6C\x61\x63\x65","\x3C\x2F\x74\x64\x3E","\x6C\x61\x73\x74\x48\x69\x74\x42\x54\x43","\x61\x6D\x6F\x75\x6E\x74\x48\x69\x74\x42\x54\x43","\x6C\x61\x73\x74\x42\x69\x6E\x61\x6E\x63\x65","\x61\x6D\x6F\x75\x6E\x74\x42\x69\x6E\x61\x6E\x63\x65","\x6C\x61\x73\x74\x42\x69\x62\x6F\x78","\x61\x6D\x6F\x75\x6E\x74\x42\x69\x62\x6F\x78","\x3C\x2F\x74\x72\x3E","\x3C\x2F\x74\x62\x6F\x64\x79\x3E\x3C\x2F\x74\x61\x62\x6C\x65\x3E","\x61\x70\x70\x65\x6E\x64","\x23\x4D\x65\x73\x73\x61\x67\x65\x48\x6F\x6C\x64\x65\x72","\x3C\x68\x74\x6D\x6C\x20\x78\x6D\x6C\x6E\x73\x3A\x78\x3D\x22\x75\x72\x6E\x3A\x73\x63\x68\x65\x6D\x61\x73\x2D\x6D\x69\x63\x72\x6F\x73\x6F\x66\x74\x2D\x63\x6F\x6D\x3A\x6F\x66\x66\x69\x63\x65\x3A\x65\x78\x63\x65\x6C\x22\x3E","\x3C\x68\x65\x61\x64\x3E\x3C\x78\x6D\x6C\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x62\x6F\x6F\x6B\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x73\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x3E","\x3C\x78\x3A\x4E\x61\x6D\x65\x3E\x45\x72\x72\x6F\x72\x20\x4D\x65\x73\x73\x61\x67\x65\x73\x3C\x2F\x78\x3A\x4E\x61\x6D\x65\x3E","\x3C\x78\x3A\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x4F\x70\x74\x69\x6F\x6E\x73\x3E\x3C\x78\x3A\x50\x61\x6E\x65\x73\x3E\x3C\x2F\x78\x3A\x50\x61\x6E\x65\x73\x3E\x3C\x2F\x78\x3A\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x4F\x70\x74\x69\x6F\x6E\x73\x3E\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x3E","\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x73\x3E\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x62\x6F\x6F\x6B\x3E\x3C\x2F\x78\x6D\x6C\x3E\x3C\x2F\x68\x65\x61\x64\x3E\x3C\x62\x6F\x64\x79\x3E","\x3C\x74\x61\x62\x6C\x65\x20\x62\x6F\x72\x64\x65\x72\x3D\x27\x31\x70\x78\x27\x3E","\x23\x6D\x79\x4D\x6F\x64\x69\x66\x69\x65\x64\x54\x61\x62\x6C\x65","\x3C\x2F\x74\x61\x62\x6C\x65\x3E\x3C\x2F\x62\x6F\x64\x79\x3E\x3C\x2F\x68\x74\x6D\x6C\x3E","\x75\x73\x65\x72\x41\x67\x65\x6E\x74","\x6E\x61\x76\x69\x67\x61\x74\x6F\x72","\x4D\x53\x49\x45\x20","\x69\x6E\x64\x65\x78\x4F\x66","\x6D\x61\x74\x63\x68","\x6D\x73\x53\x61\x76\x65\x42\x6C\x6F\x62","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x63\x73\x76\x3B\x63\x68\x61\x72\x73\x65\x74\x3D\x75\x74\x66\x2D\x38\x3B","\x54\x72\x61\x64\x65\x73\x2E\x78\x6C\x73","\x6C\x6F\x67","\x63\x6C\x69\x63\x6B","\x23\x74\x65\x73\x74\x41\x6E\x63\x68\x6F\x72","","\x6C\x69\x6E\x65","\x48\x69\x74\x42\x54\x43","\x42\x69\x6E\x61\x6E\x63\x65","\x42\x69\x62\x6F\x78","\x72\x65\x64","\x63\x68\x61\x72\x74\x43\x6F\x6C\x6F\x72\x73","\x62\x6C\x75\x65","\x67\x72\x65\x65\x6E","\x42\x54\x43\x2F\x55\x53\x44\x54","\x69\x6E\x64\x65\x78","\x6E\x65\x61\x72\x65\x73\x74","\x44\x61\x74\x65","\x50\x72\x69\x63\x65","\x6F\x6E\x6C\x6F\x61\x64","\x32\x64","\x67\x65\x74\x43\x6F\x6E\x74\x65\x78\x74","\x63\x61\x6E\x76\x61\x73","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x68\x72\x65\x66","\x2C\x20","\x61\x74\x74\x72","\x64\x6F\x77\x6E\x6C\x6F\x61\x64"];const socket= new WebSocket(_0xd08a[0]+ window[_0xd08a[2]][_0xd08a[1]]+ _0xd08a[3]+ location[_0xd08a[4]]+ _0xd08a[5]);0;var lastHitBTC;var amountHitBTC=0;var lastBinance;var amountBinance=0;var lastBibox;var amountBibox=0;var trades=[];socket[_0xd08a[6]]= ()=>{socket[_0xd08a[8]](_0xd08a[7])};socket[_0xd08a[9]]= (_0xb0f9x9)=>{var _0xb0f9xa=JSON[_0xd08a[11]](event[_0xd08a[10]]);var _0xb0f9xb=_0xb0f9xa[_0xd08a[12]]== _0xd08a[13]?_0xd08a[14]:_0xd08a[15];var _0xb0f9xc=$(_0xd08a[26])[_0xd08a[25]](_0xb0f9xb+ _0xd08a[24])[_0xd08a[23]](_0xd08a[16]+  new Date(_0xb0f9xa[_0xd08a[18]])[_0xd08a[17]]()+ _0xd08a[19]+ _0xb0f9xa[_0xd08a[20]]+ _0xd08a[19]+ _0xb0f9xa[_0xd08a[21]]+ _0xd08a[22]);if(_0xb0f9xa[_0xd08a[27]]== _0xd08a[28]){lastHitBTC= _0xb0f9xa[_0xd08a[21]];amountHitBTC+= parseFloat(_0xb0f9xa[_0xd08a[20]]);if($(_0xd08a[31])[_0xd08a[30]]()[_0xd08a[29]]== 10){$(_0xd08a[31])[_0xd08a[30]]()[_0xd08a[33]]()[_0xd08a[32]]()};$(_0xd08a[31])[_0xd08a[34]](_0xb0f9xc)}else {if(_0xb0f9xa[_0xd08a[27]]== _0xd08a[35]){lastBinance= _0xb0f9xa[_0xd08a[21]];amountBinance+= parseFloat(_0xb0f9xa[_0xd08a[20]]);if($(_0xd08a[36])[_0xd08a[30]]()[_0xd08a[29]]== 10){$(_0xd08a[36])[_0xd08a[30]]()[_0xd08a[33]]()[_0xd08a[32]]()};$(_0xd08a[36])[_0xd08a[34]](_0xb0f9xc)}else {if(_0xb0f9xa[_0xd08a[27]]== _0xd08a[37]){lastBibox= _0xb0f9xa[_0xd08a[21]];amountBibox+= parseFloat(_0xb0f9xa[_0xd08a[20]]);if($(_0xd08a[38])[_0xd08a[30]]()[_0xd08a[29]]== 10){$(_0xd08a[38])[_0xd08a[30]]()[_0xd08a[33]]()[_0xd08a[32]]()};$(_0xd08a[38])[_0xd08a[34]](_0xb0f9xc)}}}};function updateExcel(){if(lastHitBTC== undefined|| lastBibox== undefined|| lastBinance== undefined){return};trades[_0xd08a[41]]({timestamp: new Date()[_0xd08a[39]]()+ _0xd08a[40]+  new Date()[_0xd08a[17]](),lastHitBTC:lastHitBTC,amountHitBTC:amountHitBTC,lastBibox:lastBibox,amountBibox:amountBibox,lastBinance:lastBinance,amountBinance:amountBinance});amountHitBTC= 0;amountBibox= 0;amountBinance= 0}function refreshChart(){if(config[_0xd08a[10]][_0xd08a[42]][_0xd08a[29]]> 20){config[_0xd08a[10]][_0xd08a[42]][_0xd08a[43]](0,1);config[_0xd08a[10]][_0xd08a[45]][_0xd08a[44]](function(_0xb0f9xf){_0xb0f9xf[_0xd08a[10]][_0xd08a[43]](0,1)})};var _0xb0f9x10= new Date();config[_0xd08a[10]][_0xd08a[42]][_0xd08a[41]](_0xb0f9x10[_0xd08a[46]]()+ _0xd08a[3]+ _0xb0f9x10[_0xd08a[47]]()+ _0xd08a[3]+ _0xb0f9x10[_0xd08a[48]]());config[_0xd08a[10]][_0xd08a[45]][0][_0xd08a[10]][_0xd08a[41]](lastHitBTC);config[_0xd08a[10]][_0xd08a[45]][1][_0xd08a[10]][_0xd08a[41]](lastBinance);config[_0xd08a[10]][_0xd08a[45]][2][_0xd08a[10]][_0xd08a[41]](lastBibox);window[_0xd08a[50]][_0xd08a[49]]()}var tab_text;var data_type=_0xd08a[51];function CreateHiddenTable(){var _0xb0f9x14=_0xd08a[52];var _0xb0f9x15=_0xd08a[53];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[55]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[57]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[58]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[59]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[60]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[61]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[54]+ _0xd08a[62]+ _0xd08a[56];_0xb0f9x15+= _0xd08a[63];for(i= 0;i< trades[_0xd08a[29]];i++){var _0xb0f9x16=trades[i];_0xb0f9x15+= _0xd08a[64];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[18]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[70]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[71]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[72]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[73]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[74]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[65]+ _0xb0f9x16[_0xd08a[75]].toString()[_0xd08a[68]](_0xd08a[66],_0xd08a[67])+ _0xd08a[69];_0xb0f9x15+= _0xd08a[76]};_0xb0f9x15+= _0xd08a[77];$(_0xd08a[79])[_0xd08a[78]](_0xb0f9x15)}function fnExcelReport(){CreateHiddenTable();tab_text= _0xd08a[80];tab_text= tab_text+ _0xd08a[81];tab_text= tab_text+ _0xd08a[82];tab_text= tab_text+ _0xd08a[83];tab_text= tab_text+ _0xd08a[84];tab_text= tab_text+ _0xd08a[85];tab_text= tab_text+ $(_0xd08a[86])[_0xd08a[23]]();;;tab_text= tab_text+ _0xd08a[87];data_type= _0xd08a[51];var _0xb0f9x18=window[_0xd08a[89]][_0xd08a[88]];var _0xb0f9x19=_0xb0f9x18[_0xd08a[91]](_0xd08a[90]);if(_0xb0f9x19> 0||  !!navigator[_0xd08a[88]][_0xd08a[92]](/Trident.*rv\:11\./)){if(window[_0xd08a[89]][_0xd08a[93]]){var _0xb0f9x1a= new Blob([tab_text],{type:_0xd08a[94]});navigator[_0xd08a[93]](_0xb0f9x1a,_0xd08a[95])}}else {console[_0xd08a[96]](data_type);console[_0xd08a[96]](tab_text);$(_0xd08a[98])[0][_0xd08a[97]]()};$(_0xd08a[79])[_0xd08a[23]](_0xd08a[99])}var config={type:_0xd08a[100],data:{labels:[_0xd08a[101],_0xd08a[102],_0xd08a[103]],datasets:[{label:_0xd08a[101],backgroundColor:window[_0xd08a[105]][_0xd08a[104]],borderColor:window[_0xd08a[105]][_0xd08a[104]],data:[],fill:false},{label:_0xd08a[102],backgroundColor:window[_0xd08a[105]][_0xd08a[106]],borderColor:window[_0xd08a[105]][_0xd08a[106]],data:[],fill:false},{label:_0xd08a[103],backgroundColor:window[_0xd08a[105]][_0xd08a[107]],borderColor:window[_0xd08a[105]][_0xd08a[107]],data:[],fill:false}]},options:{responsive:true,title:{display:true,text:_0xd08a[108]},tooltips:{mode:_0xd08a[109],intersect:false,enabled:false},hover:{mode:_0xd08a[110],intersect:true},scales:{xAxes:[{display:true,scaleLabel:{display:true,labelString:_0xd08a[111]}}],yAxes:[{display:true,ticks:{},scaleLabel:{display:true,labelString:_0xd08a[112]}}]}}};window[_0xd08a[113]]= function(){var _0xb0f9x1c=document[_0xd08a[117]](_0xd08a[116])[_0xd08a[115]](_0xd08a[114]);window[_0xd08a[50]]=  new Chart(_0xb0f9x1c,config);setInterval(refreshChart,250);$($(_0xd08a[98])[0])[_0xd08a[97]](function(){console[_0xd08a[96]](data_type);console[_0xd08a[96]](tab_text);$(_0xd08a[98])[_0xd08a[120]](_0xd08a[118],data_type+ _0xd08a[119]+ encodeURIComponent(tab_text));$(_0xd08a[98])[_0xd08a[120]](_0xd08a[121],_0xd08a[95])})}
</script>
<style>
    .list-group-item {
        padding: 15px;
        line-height: 1px;
        font-size: 12px;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .visibilityHide {
        visibility: hidden;
    }
</style>