<br />
<h3>Stream</h3>


<hr />
<div id='MessageHolder'></div>
<a href="#" id="testAnchor"></a>

<div class="row">
    <div class="col">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col col-md-3 mt-2" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                HitBTC
            </div>
            <ul id="hitbtcTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>
    <div class="col col-md-3 mt-2" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Binance
            </div>
            <ul id="binanceTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>


    <div class="col col-md-3 mt-2" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Bitmex
            </div>
            <ul id="bitmexTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

    <div class="col col-md-3 mt-2" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Bibox
            </div>
            <ul id="biboxTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

</div>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<script>
  var _0x44e9=["\x77\x73\x73\x3A\x2F\x2F","\x68\x6F\x73\x74\x6E\x61\x6D\x65","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x3A","\x70\x6F\x72\x74","\x2F\x65\x78\x63\x68\x61\x6E\x67\x65\x57\x73","\x6F\x6E\x6F\x70\x65\x6E","\x77\x73\x20\x6F\x70\x65\x6E","\x73\x65\x6E\x64","\x6F\x6E\x6D\x65\x73\x73\x61\x67\x65","\x64\x61\x74\x61","\x70\x61\x72\x73\x65","\x73\x69\x64\x65","\x62\x75\x79","\x74\x65\x78\x74\x2D\x73\x75\x63\x63\x65\x73\x73","\x74\x65\x78\x74\x2D\x64\x61\x6E\x67\x65\x72","\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x72\x6F\x77\x22\x3E\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x63\x6F\x6C\x22\x3E","\x74\x6F\x4C\x6F\x63\x61\x6C\x65\x54\x69\x6D\x65\x53\x74\x72\x69\x6E\x67","\x74\x69\x6D\x65\x73\x74\x61\x6D\x70","\x3C\x2F\x64\x69\x76\x3E\x3C\x64\x69\x76\x20\x63\x6C\x61\x73\x73\x3D\x22\x63\x6F\x6C\x22\x3E","\x71\x75\x61\x6E\x74\x69\x74\x79","\x70\x72\x69\x63\x65","\x3C\x2F\x64\x69\x76\x3E\x3C\x2F\x64\x69\x76\x3E","\x68\x74\x6D\x6C","\x20\x6C\x69\x73\x74\x2D\x67\x72\x6F\x75\x70\x2D\x69\x74\x65\x6D","\x61\x64\x64\x43\x6C\x61\x73\x73","\x3C\x6C\x69\x3E\x3C\x2F\x6C\x69\x3E","\x65\x78\x63\x68\x61\x6E\x67\x65","\x68\x69\x74\x62\x74\x63","\x6C\x65\x6E\x67\x74\x68","\x63\x68\x69\x6C\x64\x72\x65\x6E","\x23\x68\x69\x74\x62\x74\x63\x54\x72\x61\x64\x65\x73","\x72\x65\x6D\x6F\x76\x65","\x6C\x61\x73\x74","\x70\x72\x65\x70\x65\x6E\x64","\x62\x69\x6E\x61\x6E\x63\x65","\x23\x62\x69\x6E\x61\x6E\x63\x65\x54\x72\x61\x64\x65\x73","\x62\x69\x62\x6F\x78","\x23\x62\x69\x62\x6F\x78\x54\x72\x61\x64\x65\x73","\x62\x69\x74\x6D\x65\x78","\x23\x62\x69\x74\x6D\x65\x78\x54\x72\x61\x64\x65\x73","\x74\x6F\x4C\x6F\x63\x61\x6C\x65\x44\x61\x74\x65\x53\x74\x72\x69\x6E\x67","\x20","\x70\x75\x73\x68","\x6C\x61\x62\x65\x6C\x73","\x73\x70\x6C\x69\x63\x65","\x66\x6F\x72\x45\x61\x63\x68","\x64\x61\x74\x61\x73\x65\x74\x73","\x67\x65\x74\x4D\x69\x6E\x75\x74\x65\x73","\x67\x65\x74\x53\x65\x63\x6F\x6E\x64\x73","\x67\x65\x74\x4D\x69\x6C\x6C\x69\x73\x65\x63\x6F\x6E\x64\x73","\x75\x70\x64\x61\x74\x65","\x6D\x79\x4C\x69\x6E\x65","\x64\x61\x74\x61\x3A\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x76\x6E\x64\x2E\x6D\x73\x2D\x65\x78\x63\x65\x6C","\x43\x6F\x6C\x75\x6D\x6E\x20\x48\x65\x61\x64\x65\x72\x20\x54\x65\x78\x74","\x3C\x74\x61\x62\x6C\x65\x20\x69\x64\x3D\x22\x6D\x79\x4D\x6F\x64\x69\x66\x69\x65\x64\x54\x61\x62\x6C\x65\x22\x20\x63\x6C\x61\x73\x73\x3D\x22\x76\x69\x73\x69\x62\x69\x6C\x69\x74\x79\x48\x69\x64\x65\x22\x3E\x3C\x74\x68\x65\x61\x64\x3E\x3C\x74\x72\x3E","\x3C\x74\x64\x3E\x3C\x62\x3E","\x54\x49\x4D\x45\x53\x54\x41\x4D\x50","\x3C\x2F\x62\x3E\x3C\x2F\x74\x64\x3E","\x48\x49\x54\x42\x54\x43\x20\x4C\x41\x53\x54","\x48\x49\x54\x42\x54\x43\x20\x41\x4D\x4F\x55\x4E\x54","\x42\x49\x4E\x41\x4E\x43\x45\x20\x4C\x41\x53\x54","\x42\x49\x4E\x41\x4E\x43\x45\x20\x41\x4D\x4F\x55\x4E\x54","\x42\x49\x42\x4F\x58\x20\x4C\x41\x53\x54","\x42\x49\x42\x4F\x58\x20\x41\x4D\x4F\x55\x4E\x54","\x3C\x2F\x74\x72\x3E\x3C\x2F\x74\x68\x65\x61\x64\x3E\x3C\x74\x62\x6F\x64\x79\x3E","\x3C\x74\x72\x3E","\x3C\x74\x64\x3E","\x2E","\x2C","\x72\x65\x70\x6C\x61\x63\x65","\x3C\x2F\x74\x64\x3E","\x6C\x61\x73\x74\x48\x69\x74\x42\x54\x43","\x61\x6D\x6F\x75\x6E\x74\x48\x69\x74\x42\x54\x43","\x6C\x61\x73\x74\x42\x69\x6E\x61\x6E\x63\x65","\x61\x6D\x6F\x75\x6E\x74\x42\x69\x6E\x61\x6E\x63\x65","\x6C\x61\x73\x74\x42\x69\x62\x6F\x78","\x61\x6D\x6F\x75\x6E\x74\x42\x69\x62\x6F\x78","\x3C\x2F\x74\x72\x3E","\x3C\x2F\x74\x62\x6F\x64\x79\x3E\x3C\x2F\x74\x61\x62\x6C\x65\x3E","\x61\x70\x70\x65\x6E\x64","\x23\x4D\x65\x73\x73\x61\x67\x65\x48\x6F\x6C\x64\x65\x72","\x3C\x68\x74\x6D\x6C\x20\x78\x6D\x6C\x6E\x73\x3A\x78\x3D\x22\x75\x72\x6E\x3A\x73\x63\x68\x65\x6D\x61\x73\x2D\x6D\x69\x63\x72\x6F\x73\x6F\x66\x74\x2D\x63\x6F\x6D\x3A\x6F\x66\x66\x69\x63\x65\x3A\x65\x78\x63\x65\x6C\x22\x3E","\x3C\x68\x65\x61\x64\x3E\x3C\x78\x6D\x6C\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x62\x6F\x6F\x6B\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x73\x3E\x3C\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x3E","\x3C\x78\x3A\x4E\x61\x6D\x65\x3E\x45\x72\x72\x6F\x72\x20\x4D\x65\x73\x73\x61\x67\x65\x73\x3C\x2F\x78\x3A\x4E\x61\x6D\x65\x3E","\x3C\x78\x3A\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x4F\x70\x74\x69\x6F\x6E\x73\x3E\x3C\x78\x3A\x50\x61\x6E\x65\x73\x3E\x3C\x2F\x78\x3A\x50\x61\x6E\x65\x73\x3E\x3C\x2F\x78\x3A\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x4F\x70\x74\x69\x6F\x6E\x73\x3E\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x3E","\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x73\x68\x65\x65\x74\x73\x3E\x3C\x2F\x78\x3A\x45\x78\x63\x65\x6C\x57\x6F\x72\x6B\x62\x6F\x6F\x6B\x3E\x3C\x2F\x78\x6D\x6C\x3E\x3C\x2F\x68\x65\x61\x64\x3E\x3C\x62\x6F\x64\x79\x3E","\x3C\x74\x61\x62\x6C\x65\x20\x62\x6F\x72\x64\x65\x72\x3D\x27\x31\x70\x78\x27\x3E","\x23\x6D\x79\x4D\x6F\x64\x69\x66\x69\x65\x64\x54\x61\x62\x6C\x65","\x3C\x2F\x74\x61\x62\x6C\x65\x3E\x3C\x2F\x62\x6F\x64\x79\x3E\x3C\x2F\x68\x74\x6D\x6C\x3E","\x75\x73\x65\x72\x41\x67\x65\x6E\x74","\x6E\x61\x76\x69\x67\x61\x74\x6F\x72","\x4D\x53\x49\x45\x20","\x69\x6E\x64\x65\x78\x4F\x66","\x6D\x61\x74\x63\x68","\x6D\x73\x53\x61\x76\x65\x42\x6C\x6F\x62","\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2F\x63\x73\x76\x3B\x63\x68\x61\x72\x73\x65\x74\x3D\x75\x74\x66\x2D\x38\x3B","\x54\x72\x61\x64\x65\x73\x2E\x78\x6C\x73","\x6C\x6F\x67","\x63\x6C\x69\x63\x6B","\x23\x74\x65\x73\x74\x41\x6E\x63\x68\x6F\x72","","\x6C\x69\x6E\x65","\x48\x69\x74\x42\x54\x43","\x42\x69\x6E\x61\x6E\x63\x65","\x42\x69\x62\x6F\x78","\x42\x69\x74\x6D\x65\x78","\x72\x65\x64","\x63\x68\x61\x72\x74\x43\x6F\x6C\x6F\x72\x73","\x62\x6C\x75\x65","\x6F\x72\x61\x6E\x67\x65","\x67\x72\x65\x65\x6E","\x42\x54\x43\x2F\x55\x53\x44\x54","\x69\x6E\x64\x65\x78","\x6E\x65\x61\x72\x65\x73\x74","\x44\x61\x74\x65","\x50\x72\x69\x63\x65","\x6F\x6E\x6C\x6F\x61\x64","\x32\x64","\x67\x65\x74\x43\x6F\x6E\x74\x65\x78\x74","\x63\x61\x6E\x76\x61\x73","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x68\x72\x65\x66","\x2C\x20","\x61\x74\x74\x72","\x64\x6F\x77\x6E\x6C\x6F\x61\x64"];const socket= new WebSocket(_0x44e9[0]+ window[_0x44e9[2]][_0x44e9[1]]+ _0x44e9[3]+ location[_0x44e9[4]]+ _0x44e9[5]);0;var lastHitBTC;var amountHitBTC=0;var lastBinance;var amountBinance=0;var lastBibox;var amountBibox=0;var lastBitmex;var amountBitmex=0;var trades=[];socket[_0x44e9[6]]= ()=>{socket[_0x44e9[8]](_0x44e9[7])};socket[_0x44e9[9]]= (_0xd4b6xb)=>{var _0xd4b6xc=JSON[_0x44e9[11]](event[_0x44e9[10]]);var _0xd4b6xd=_0xd4b6xc[_0x44e9[12]]== _0x44e9[13]?_0x44e9[14]:_0x44e9[15];var _0xd4b6xe=$(_0x44e9[26])[_0x44e9[25]](_0xd4b6xd+ _0x44e9[24])[_0x44e9[23]](_0x44e9[16]+  new Date(_0xd4b6xc[_0x44e9[18]])[_0x44e9[17]]()+ _0x44e9[19]+ _0xd4b6xc[_0x44e9[20]]+ _0x44e9[19]+ _0xd4b6xc[_0x44e9[21]]+ _0x44e9[22]);if(_0xd4b6xc[_0x44e9[27]]== _0x44e9[28]){lastHitBTC= _0xd4b6xc[_0x44e9[21]];amountHitBTC+= parseFloat(_0xd4b6xc[_0x44e9[20]]);if($(_0x44e9[31])[_0x44e9[30]]()[_0x44e9[29]]== 10){$(_0x44e9[31])[_0x44e9[30]]()[_0x44e9[33]]()[_0x44e9[32]]()};$(_0x44e9[31])[_0x44e9[34]](_0xd4b6xe)}else {if(_0xd4b6xc[_0x44e9[27]]== _0x44e9[35]){lastBinance= _0xd4b6xc[_0x44e9[21]];amountBinance+= parseFloat(_0xd4b6xc[_0x44e9[20]]);if($(_0x44e9[36])[_0x44e9[30]]()[_0x44e9[29]]== 10){$(_0x44e9[36])[_0x44e9[30]]()[_0x44e9[33]]()[_0x44e9[32]]()};$(_0x44e9[36])[_0x44e9[34]](_0xd4b6xe)}else {if(_0xd4b6xc[_0x44e9[27]]== _0x44e9[37]){lastBibox= _0xd4b6xc[_0x44e9[21]];amountBibox+= parseFloat(_0xd4b6xc[_0x44e9[20]]);if($(_0x44e9[38])[_0x44e9[30]]()[_0x44e9[29]]== 10){$(_0x44e9[38])[_0x44e9[30]]()[_0x44e9[33]]()[_0x44e9[32]]()};$(_0x44e9[38])[_0x44e9[34]](_0xd4b6xe)}else {if(_0xd4b6xc[_0x44e9[27]]== _0x44e9[39]){lastBitmex= _0xd4b6xc[_0x44e9[21]];amountBitmex+= parseFloat(_0xd4b6xc[_0x44e9[20]]);if($(_0x44e9[40])[_0x44e9[30]]()[_0x44e9[29]]== 10){$(_0x44e9[40])[_0x44e9[30]]()[_0x44e9[33]]()[_0x44e9[32]]()};$(_0x44e9[40])[_0x44e9[34]](_0xd4b6xe)}}}}};function updateExcel(){if(lastHitBTC== undefined|| lastBibox== undefined|| lastBinance== undefined|| lastBitmex== undefined){return};trades[_0x44e9[43]]({timestamp: new Date()[_0x44e9[41]]()+ _0x44e9[42]+  new Date()[_0x44e9[17]](),lastHitBTC:lastHitBTC,amountHitBTC:amountHitBTC,lastBibox:lastBibox,amountBibox:amountBibox,lastBinance:lastBinance,amountBinance:amountBinance,lastBitmex:lastBitmex,amountBitmex:amountBitmex});amountHitBTC= 0;amountBibox= 0;amountBinance= 0;amountBitmex= 0}function refreshChart(){if(config[_0x44e9[10]][_0x44e9[44]][_0x44e9[29]]> 30){config[_0x44e9[10]][_0x44e9[44]][_0x44e9[45]](0,1);config[_0x44e9[10]][_0x44e9[47]][_0x44e9[46]](function(_0xd4b6x11){_0xd4b6x11[_0x44e9[10]][_0x44e9[45]](0,1)})};var _0xd4b6x12= new Date();config[_0x44e9[10]][_0x44e9[44]][_0x44e9[43]](_0xd4b6x12[_0x44e9[48]]()+ _0x44e9[3]+ _0xd4b6x12[_0x44e9[49]]()+ _0x44e9[3]+ _0xd4b6x12[_0x44e9[50]]());config[_0x44e9[10]][_0x44e9[47]][0][_0x44e9[10]][_0x44e9[43]](lastHitBTC);config[_0x44e9[10]][_0x44e9[47]][1][_0x44e9[10]][_0x44e9[43]](lastBinance);config[_0x44e9[10]][_0x44e9[47]][2][_0x44e9[10]][_0x44e9[43]](lastBitmex);config[_0x44e9[10]][_0x44e9[47]][3][_0x44e9[10]][_0x44e9[43]](lastBibox);window[_0x44e9[52]][_0x44e9[51]]()}var tab_text;var data_type=_0x44e9[53];function CreateHiddenTable(){var _0xd4b6x16=_0x44e9[54];var _0xd4b6x17=_0x44e9[55];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[57]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[59]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[60]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[61]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[62]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[63]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[56]+ _0x44e9[64]+ _0x44e9[58];_0xd4b6x17+= _0x44e9[65];for(i= 0;i< trades[_0x44e9[29]];i++){var _0xd4b6x18=trades[i];_0xd4b6x17+= _0x44e9[66];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[18]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[72]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[73]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[74]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[75]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[76]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[67]+ _0xd4b6x18[_0x44e9[77]].toString()[_0x44e9[70]](_0x44e9[68],_0x44e9[69])+ _0x44e9[71];_0xd4b6x17+= _0x44e9[78]};_0xd4b6x17+= _0x44e9[79];$(_0x44e9[81])[_0x44e9[80]](_0xd4b6x17)}function fnExcelReport(){CreateHiddenTable();tab_text= _0x44e9[82];tab_text= tab_text+ _0x44e9[83];tab_text= tab_text+ _0x44e9[84];tab_text= tab_text+ _0x44e9[85];tab_text= tab_text+ _0x44e9[86];tab_text= tab_text+ _0x44e9[87];tab_text= tab_text+ $(_0x44e9[88])[_0x44e9[23]]();;;tab_text= tab_text+ _0x44e9[89];data_type= _0x44e9[53];var _0xd4b6x1a=window[_0x44e9[91]][_0x44e9[90]];var _0xd4b6x1b=_0xd4b6x1a[_0x44e9[93]](_0x44e9[92]);if(_0xd4b6x1b> 0||  !!navigator[_0x44e9[90]][_0x44e9[94]](/Trident.*rv\:11\./)){if(window[_0x44e9[91]][_0x44e9[95]]){var _0xd4b6x1c= new Blob([tab_text],{type:_0x44e9[96]});navigator[_0x44e9[95]](_0xd4b6x1c,_0x44e9[97])}}else {console[_0x44e9[98]](data_type);console[_0x44e9[98]](tab_text);$(_0x44e9[100])[0][_0x44e9[99]]()};$(_0x44e9[81])[_0x44e9[23]](_0x44e9[101])}var config={type:_0x44e9[102],data:{labels:[_0x44e9[103],_0x44e9[104],_0x44e9[105],_0x44e9[106]],datasets:[{label:_0x44e9[103],backgroundColor:window[_0x44e9[108]][_0x44e9[107]],borderColor:window[_0x44e9[108]][_0x44e9[107]],data:[],fill:false},{label:_0x44e9[104],backgroundColor:window[_0x44e9[108]][_0x44e9[109]],borderColor:window[_0x44e9[108]][_0x44e9[109]],data:[],fill:false},{label:_0x44e9[106],backgroundColor:window[_0x44e9[108]][_0x44e9[110]],borderColor:window[_0x44e9[108]][_0x44e9[110]],data:[],fill:false},{label:_0x44e9[105],backgroundColor:window[_0x44e9[108]][_0x44e9[111]],borderColor:window[_0x44e9[108]][_0x44e9[111]],data:[],fill:false}]},options:{layout:{padding:{top:1}},responsive:true,title:{display:true,text:_0x44e9[112]},tooltips:{mode:_0x44e9[113],intersect:false,enabled:false},hover:{mode:_0x44e9[114],intersect:true},scales:{xAxes:[{display:true,scaleLabel:{display:true,labelString:_0x44e9[115]}}],yAxes:[{display:true,ticks:{top:2,fixedStepSize:1},scaleLabel:{display:true,labelString:_0x44e9[116]}}]}}};window[_0x44e9[117]]= function(){var _0xd4b6x1e=document[_0x44e9[121]](_0x44e9[120])[_0x44e9[119]](_0x44e9[118]);window[_0x44e9[52]]=  new Chart(_0xd4b6x1e,config);setInterval(refreshChart,250);$($(_0x44e9[100])[0])[_0x44e9[99]](function(){console[_0x44e9[98]](data_type);console[_0x44e9[98]](tab_text);$(_0x44e9[100])[_0x44e9[124]](_0x44e9[122],data_type+ _0x44e9[123]+ encodeURIComponent(tab_text));$(_0x44e9[100])[_0x44e9[124]](_0x44e9[125],_0x44e9[97])})}
</script>
<style>
    .list-group-item {
        padding: 15px;
        line-height: 1px;
        font-size: 12px;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .visibilityHide {
        visibility: hidden;
    }
</style>