<br />
<h3>Stream</h3>


<hr />
<div id='MessageHolder'></div>
<a href="#" id="testAnchor"></a>

<div class="row">
    <div class="col">
        <canvas id="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                HitBTC
            </div>
            <ul id="hitbtcTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>
    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Binance
            </div>
            <ul id="binanceTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

    <div class="col col-md-4" style="min-width: 310px;">
        <div class="card card-primary">
            <div class="card-header">
                Bibox
            </div>
            <ul id="biboxTrades" class="list-group list-group-flush">
            </ul>
        </div>
    </div>

</div>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<script>
  var _0x6d6a=['onopen','send','ws\x20open','onmessage','data','side','buy','text-danger','<li></li>','addClass','html','timestamp','toLocaleTimeString','</div><div\x20class=\x22col\x22>','price','exchange','hitbtc','quantity','#hitbtcTrades','children','length','remove','prepend','last','bibox','#biboxTrades','toLocaleDateString','labels','splice','datasets','forEach','push','getMinutes','getSeconds','getMilliseconds','update','Column\x20Header\x20Text','<table\x20id=\x22myModifiedTable\x22\x20class=\x22visibilityHide\x22><thead><tr>','<td><b>','TIMESTAMP','</b></td>','HITBTC\x20LAST','HITBTC\x20AMOUNT','BINANCE\x20LAST','BINANCE\x20AMOUNT','BIBOX\x20LAST','BIBOX\x20AMOUNT','<tr>','<td>','toString','replace','</td>','lastHitBTC','lastBinance','amountBinance','lastBibox','</tr>','</tbody></table>','#MessageHolder','<html\x20xmlns:x=\x22urn:schemas-microsoft-com:office:excel\x22>','<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>','<x:Name>Error\x20Messages</x:Name>','<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>','</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>','</table></body></html>','data:application/vnd.ms-excel','navigator','userAgent','match','application/csv;charset=utf-8;','msSaveBlob','Trades.xls','log','#testAnchor','click','line','HitBTC','Binance','Bibox','chartColors','red','blue','green','BTC/USDT','index','nearest','Date','Price','myLine','attr','href','location','port','/exchangeWs'];(function(_0x55e9d3,_0x2d9148){var _0x23b279=function(_0x261641){while(--_0x261641){_0x55e9d3['push'](_0x55e9d3['shift']());}};_0x23b279(++_0x2d9148);}(_0x6d6a,0x117));var _0x3ca4=function(_0x327ca3,_0x4b898f){_0x327ca3=_0x327ca3-0x0;var _0x347d36=_0x6d6a[_0x327ca3];return _0x347d36;};const socket=new WebSocket('wss://'+window[_0x3ca4('0x0')]['hostname']+':'+location[_0x3ca4('0x1')]+_0x3ca4('0x2'));0x0;var lastHitBTC;var amountHitBTC=0x0;var lastBinance;var amountBinance=0x0;var lastBibox;var amountBibox=0x0;var trades=[];socket[_0x3ca4('0x3')]=()=>{socket[_0x3ca4('0x4')](_0x3ca4('0x5'));};socket[_0x3ca4('0x6')]=_0x358ba8=>{var _0x559228=JSON['parse'](event[_0x3ca4('0x7')]);var _0x44f5cd=_0x559228[_0x3ca4('0x8')]==_0x3ca4('0x9')?'text-success':_0x3ca4('0xa');var _0x2539da=$(_0x3ca4('0xb'))[_0x3ca4('0xc')](_0x44f5cd+'\x20list-group-item')[_0x3ca4('0xd')]('<div\x20class=\x22row\x22><div\x20class=\x22col\x22>'+new Date(_0x559228[_0x3ca4('0xe')])[_0x3ca4('0xf')]()+_0x3ca4('0x10')+_0x559228['quantity']+_0x3ca4('0x10')+_0x559228[_0x3ca4('0x11')]+'</div></div>');if(_0x559228[_0x3ca4('0x12')]==_0x3ca4('0x13')){lastHitBTC=_0x559228[_0x3ca4('0x11')];amountHitBTC+=parseFloat(_0x559228[_0x3ca4('0x14')]);if($(_0x3ca4('0x15'))[_0x3ca4('0x16')]()[_0x3ca4('0x17')]==0xa){$(_0x3ca4('0x15'))[_0x3ca4('0x16')]()['last']()[_0x3ca4('0x18')]();}$(_0x3ca4('0x15'))[_0x3ca4('0x19')](_0x2539da);}else if(_0x559228[_0x3ca4('0x12')]=='binance'){lastBinance=_0x559228['price'];amountBinance+=parseFloat(_0x559228[_0x3ca4('0x14')]);if($('#binanceTrades')[_0x3ca4('0x16')]()[_0x3ca4('0x17')]==0xa){$('#binanceTrades')['children']()[_0x3ca4('0x1a')]()['remove']();}$('#binanceTrades')[_0x3ca4('0x19')](_0x2539da);}else if(_0x559228[_0x3ca4('0x12')]==_0x3ca4('0x1b')){lastBibox=_0x559228[_0x3ca4('0x11')];amountBibox+=parseFloat(_0x559228[_0x3ca4('0x14')]);if($('#biboxTrades')[_0x3ca4('0x16')]()[_0x3ca4('0x17')]==0xa){$(_0x3ca4('0x1c'))[_0x3ca4('0x16')]()[_0x3ca4('0x1a')]()[_0x3ca4('0x18')]();}$(_0x3ca4('0x1c'))[_0x3ca4('0x19')](_0x2539da);}};function updateExcel(){if(lastHitBTC==undefined||lastBibox==undefined||lastBinance==undefined)return;trades['push']({'timestamp':new Date()[_0x3ca4('0x1d')]()+'\x20'+new Date()[_0x3ca4('0xf')](),'lastHitBTC':lastHitBTC,'amountHitBTC':amountHitBTC,'lastBibox':lastBibox,'amountBibox':amountBibox,'lastBinance':lastBinance,'amountBinance':amountBinance});amountHitBTC=0x0;amountBibox=0x0;amountBinance=0x0;}function refreshChart(){if(config[_0x3ca4('0x7')][_0x3ca4('0x1e')][_0x3ca4('0x17')]>0x14){config[_0x3ca4('0x7')]['labels'][_0x3ca4('0x1f')](0x0,0x1);config[_0x3ca4('0x7')][_0x3ca4('0x20')][_0x3ca4('0x21')](function(_0x43a68a){_0x43a68a[_0x3ca4('0x7')]['splice'](0x0,0x1);});}var _0x9ef136=new Date();config[_0x3ca4('0x7')]['labels'][_0x3ca4('0x22')](_0x9ef136[_0x3ca4('0x23')]()+':'+_0x9ef136[_0x3ca4('0x24')]()+':'+_0x9ef136[_0x3ca4('0x25')]());config['data'][_0x3ca4('0x20')][0x0]['data']['push'](lastHitBTC);config[_0x3ca4('0x7')][_0x3ca4('0x20')][0x1][_0x3ca4('0x7')]['push'](lastBinance);config[_0x3ca4('0x7')][_0x3ca4('0x20')][0x2][_0x3ca4('0x7')][_0x3ca4('0x22')](lastBibox);window['myLine'][_0x3ca4('0x26')]();}var tab_text;var data_type='data:application/vnd.ms-excel';function CreateHiddenTable(){var _0x102651=_0x3ca4('0x27');var _0x2a7f3a=_0x3ca4('0x28');_0x2a7f3a+=_0x3ca4('0x29')+_0x3ca4('0x2a')+_0x3ca4('0x2b');_0x2a7f3a+='<td><b>'+_0x3ca4('0x2c')+_0x3ca4('0x2b');_0x2a7f3a+=_0x3ca4('0x29')+_0x3ca4('0x2d')+'</b></td>';_0x2a7f3a+='<td><b>'+_0x3ca4('0x2e')+_0x3ca4('0x2b');_0x2a7f3a+=_0x3ca4('0x29')+_0x3ca4('0x2f')+'</b></td>';_0x2a7f3a+=_0x3ca4('0x29')+_0x3ca4('0x30')+_0x3ca4('0x2b');_0x2a7f3a+=_0x3ca4('0x29')+_0x3ca4('0x31')+_0x3ca4('0x2b');_0x2a7f3a+='</tr></thead><tbody>';for(i=0x0;i<trades[_0x3ca4('0x17')];i++){var _0x5f9a5a=trades[i];_0x2a7f3a+=_0x3ca4('0x32');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a['timestamp'][_0x3ca4('0x34')]()[_0x3ca4('0x35')]('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a[_0x3ca4('0x37')][_0x3ca4('0x34')]()[_0x3ca4('0x35')]('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a['amountHitBTC'][_0x3ca4('0x34')]()[_0x3ca4('0x35')]('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a[_0x3ca4('0x38')][_0x3ca4('0x34')]()['replace']('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a[_0x3ca4('0x39')]['toString']()[_0x3ca4('0x35')]('.',',')+'</td>';_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a[_0x3ca4('0x3a')][_0x3ca4('0x34')]()[_0x3ca4('0x35')]('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x33')+_0x5f9a5a['amountBibox'][_0x3ca4('0x34')]()[_0x3ca4('0x35')]('.',',')+_0x3ca4('0x36');_0x2a7f3a+=_0x3ca4('0x3b');}_0x2a7f3a+=_0x3ca4('0x3c');$(_0x3ca4('0x3d'))['append'](_0x2a7f3a);}function fnExcelReport(){CreateHiddenTable();tab_text=_0x3ca4('0x3e');tab_text=tab_text+_0x3ca4('0x3f');tab_text=tab_text+_0x3ca4('0x40');tab_text=tab_text+_0x3ca4('0x41');tab_text=tab_text+_0x3ca4('0x42');tab_text=tab_text+'<table\x20border=\x271px\x27>';tab_text=tab_text+$('#myModifiedTable')['html']();;tab_text=tab_text+_0x3ca4('0x43');data_type=_0x3ca4('0x44');var _0x41c3c8=window[_0x3ca4('0x45')][_0x3ca4('0x46')];var _0x517e31=_0x41c3c8['indexOf']('MSIE\x20');if(_0x517e31>0x0||!!navigator[_0x3ca4('0x46')][_0x3ca4('0x47')](/Trident.*rv\:11\./)){if(window[_0x3ca4('0x45')]['msSaveBlob']){var _0x53f61a=new Blob([tab_text],{'type':_0x3ca4('0x48')});navigator[_0x3ca4('0x49')](_0x53f61a,_0x3ca4('0x4a'));}}else{console[_0x3ca4('0x4b')](data_type);console[_0x3ca4('0x4b')](tab_text);$(_0x3ca4('0x4c'))[0x0][_0x3ca4('0x4d')]();}$(_0x3ca4('0x3d'))[_0x3ca4('0xd')]('');}var config={'type':_0x3ca4('0x4e'),'data':{'labels':[_0x3ca4('0x4f'),_0x3ca4('0x50'),_0x3ca4('0x51')],'datasets':[{'label':_0x3ca4('0x4f'),'backgroundColor':window[_0x3ca4('0x52')][_0x3ca4('0x53')],'borderColor':window[_0x3ca4('0x52')][_0x3ca4('0x53')],'data':[],'fill':![]},{'label':_0x3ca4('0x50'),'backgroundColor':window['chartColors'][_0x3ca4('0x54')],'borderColor':window[_0x3ca4('0x52')][_0x3ca4('0x54')],'data':[],'fill':![]},{'label':_0x3ca4('0x51'),'backgroundColor':window[_0x3ca4('0x52')]['green'],'borderColor':window[_0x3ca4('0x52')][_0x3ca4('0x55')],'data':[],'fill':![]}]},'options':{'responsive':!![],'title':{'display':!![],'text':_0x3ca4('0x56')},'tooltips':{'mode':_0x3ca4('0x57'),'intersect':![],'enabled':![]},'hover':{'mode':_0x3ca4('0x58'),'intersect':!![]},'scales':{'xAxes':[{'display':!![],'scaleLabel':{'display':!![],'labelString':_0x3ca4('0x59')}}],'yAxes':[{'display':!![],'ticks':{'fixedStepSize':0x1},'scaleLabel':{'display':!![],'labelString':_0x3ca4('0x5a')}}]}}};window['onload']=function(){var _0x4f9020=document['getElementById']('canvas')['getContext']('2d');window[_0x3ca4('0x5b')]=new Chart(_0x4f9020,config);setInterval(refreshChart,0xfa);$($('#testAnchor')[0x0])[_0x3ca4('0x4d')](function(){console['log'](data_type);console[_0x3ca4('0x4b')](tab_text);$(_0x3ca4('0x4c'))[_0x3ca4('0x5c')](_0x3ca4('0x5d'),data_type+',\x20'+encodeURIComponent(tab_text));$('#testAnchor')['attr']('download','Trades.xls');});};
</script>
<style>
    .list-group-item {
        padding: 15px;
        line-height: 1px;
        font-size: 12px;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .visibilityHide {
        visibility: hidden;
    }
</style>